.footer {
  width: 100%;
  background-color: var(--mat-toolbar-container-background-color); 
  color: black; 
  text-align: center;
  padding: 16px 0;
  margin-top: auto;
  font-size: 0.9em;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
  position: relative;
  z-index: 10;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black; 
}

.footer mat-icon {
  margin-right: 8px;
  font-size: 18px;
  height: 18px;
  width: 18px;
  color: black;
}